@using System.Activities.Expressions
@using SchoolApp.Models.View
@model SchoolApp.Models.View.SubjectView

@{
    ViewBag.Title = "SubjectView";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div class="row">

    <div class="col-md-12 col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <header class="panel-heading">
                    Teacher Information
                </header>
                <table class="table table-bordered" id="example" class="display">
                    <thead>
                        <tr class="success"><td>Class Name</td><td>Subject Name</td><td>Teacher Name</td></tr>
                    </thead>

                    <tfoot>
                        <tr class="success"><td>Class Name</td><td>Subject Name</td><td>Teacher Name</td></tr>
                    </tfoot>
                    <tbody>

                        @{

                            List<SubjectView> subjectViewList = new List<SubjectView>();
                            subjectViewList = (List<SubjectView>) ViewBag.SubjectViewList;
                            if (subjectViewList != null)
                            {
                             foreach (SubjectView Subjects in subjectViewList)
                            {
                                <tr>
                                    <td>@Subjects.ClassName</td><td>@Subjects.SubjectName</td><td>@Subjects.TeacherName</td>
                                </tr>

                            }   
                            }
                            else
                            {
                                <tr><td colspan="3"><div class="alert-info">Subject Not assaign yet!!</div></td></tr>
                            }
                            
                        }
                    </tbody>
                </table>

            </div>
        </section>
    </div>
</div>
@section myscript
{
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}

