@model SchoolApp.Models.Book

@{
    ViewBag.Title = "DeleteBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteBook</h2>

<div class="row">
    <div class="panel-body">
        <div class="alert alert-danger">
            Are your sure delete this book
        </div>
        <a href="@Url.Action("DeleteBookConfirm", "Book", new { id = @ViewBag.bookId })" class="btn btn-danger">Delete<br /></a>
    </div>
</div>
