@model SchoolApp.Models.Section

@{
    ViewBag.Title = "UpdateSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.SuccessAlert</h1>

<meta http-equiv="REFRESH" content="2; url=/Section/Section">