@model SchoolApp.Models.ExamRoutine

@{
    ViewBag.Title = "UpdateExamRoutine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.UpdateSuccess</h3>

<meta http-equiv="REFRESH" content="2; url=/Exam/ExamRoutine">