@model SchoolApp.Models.Exam

@{
    ViewBag.Title = "UpdateExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.UpdateData</h2>

<meta http-equiv="REFRESH" content="2; url=/Exam/Exam">